<div class= 'the_container'>
  <div class="answer">
    <h1>Stupid Coaching</h1>
    <div class="coach_answer">
      <%= @answer%>
    </div>
      <%= link_to 'Ask a new question to your favorite coach', ask_path, class:"link_ask" %>
  </div>
</div>
